{% extends 'blog/base.html' %}

{% block title %}Blog Posts{% endblock %}

{% block content %}
    <h1>Blog Posts</h1>
    <form method="GET" class="mb-4">
        <div class="row g-2">
            <div class = "col">
                <input type="text" name="q" class="form-control" placeholder="Search By title" value="{{ request.GET.q }}">
            </div>
            <div class="col">
                <input type="text" name="tag" class="form-control" placeholder="Filter by tag" value="{{ request.GET.tag }}">
            </div>
            <div class="col">
                <input type="text" name="author" class="form-control" placeholder="Filter by author" value="{{ request.GET.author }}">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary">Search</button>
                <a href="/" class="btn btn-secondary">Clear</a>
            </div>
        </div>
    </form>
    {% for post in posts %}
        <div class="card mb-3">
            <div class="card-body">
                <h2 class="card-title">{{post.title}}</h2>
                <p class="text-muted">By {{post.author}} | {{post.created_at}}</p>
                <p>{{ post.content|truncatewords:30 }}</p>
                <div>
                    {% for tag in post.tags.all %}
                        <span class="badge bg-secondary">{{ tag.name }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}
{% endblock %}